//@import '../../styles/prime.styles.scss';
@import '../../styles/variables.scss';
//@import '../../styles/palette.scss';

.sales-filters {
  .ui-dropdown {
    position: relative;
    display: inline-block;
    margin: auto $global-component-margin-small auto auto;
  }
}
