@import '../../styles/palette.scss';
@import '../../styles/variables.scss';

$filter-container-height: 40px;
$filter-container-width: 340px;

.filters {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-grey-colour-faint !important;
  .title {
    font-size: $font-size-title;
    margin-left: $global-component-margin;
  }
  width: $filter-container-width;
}
.ui-accordion .ui-accordion-header {
  width: $filter-container-width;
}
body .ui-accordion .ui-accordion-content {
  padding: 1.25em;
  width: $filter-container-width;
}

body .filter-item {
  height: $filter-container-height;
  margin-left: $global-component-margin;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  label {
    width: 100px;
  }
}

